<div class="box box-function">

    {{#ifvalue parent.kind value="class"}}
        <h2><a name="{{{hash}}}">Method: {{parent.name}}.{{name}}()</a></h2>
    {{else}}
        <h2><a name="{{{hash}}}">Function: {{name}}()</a></h2>
    {{/ifvalue}}

    {{#if async}}
        <p><label>async</label></p>
    {{/if}}

    {{#if text}}
        <p class="text">{{{text}}}</p>
    {{/if}}

    {{#if return}}
        <p class="return">
            Returns 
            {{#if return.type}}
                <pre>{{return.type}}</pre>
            {{/if}}
            {{#if return.description}}
                <span class="description">{{{description}}}</span>
            {{/if}}
        </p>
    {{/if}}

    <h3>Parameters:</h3>
    <ul class="params">
    {{#each params}}
        <li>
            {{#if type}}
                <pre>{{type}}</pre>
            {{/if}}

            {{#if isOptional}}
                <label class="optional">[{{name}}]</label>
            {{else}}
                <label>{{name}}</label>
            {{/if}}

            {{#if description}}
                <span class="description">{{{description}}}</span>
            {{/if}}
        </li>
    {{/each}}
    </ul>

    {{> examples}}

</div>
