<div class="box box-module">

    <h2><a name="{{{hash}}}">Module: {{name}}</a></h2>

    <p>Defined in file: {{file}}</p>

    {{#if version}}
        <p><label>version:</label>{{version}}</p>
    {{/if}}

    {{#if text}}
        <p class="text">{{{text}}}</p>
    {{/if}}

    {{> examples}}

    <h3>Defined classes:</h3>
    <ul>
    {{#each classes}}
        <li><a href="#{{{hash}}}">{{name}}</a></li>
    {{/each}}
    </ul>

    <hr/>

    {{#each classes}}
        {{> class}}
    {{/each}}

</div>
